{{ template "templates/header.html" . }}
{{ template "templates/banner.html" . }}

<section class="text-center">
  <div>
    <div>
      <div id="katacoda-terminal"
        data-katacoda-id="redhat-middleware-workshops/training/{{ .Training.Name }}/{{ .Name }}"
        data-katacoda-ctatext="Continue Training"
        data-katacoda-ctaurl="http://openshift-modernize-apps.katacoda.com/{{ .Training.Name}}"
        data-katacoda-color="1a1a1a"
        data-katacoda-secondary="168F9D"
        data-katacoda-font="Open Sans"
        data-katacoda-fontheader="Open Sans"
        style="height: calc(100vh - 114px);">

      </div>

    </div>
  </div>
</section>

{{ template "templates/footer.html" . }}
